.dino {
    position: absolute;
    width: 60px;
    height: 60px;   
    bottom: 0;
    background-image: url(images/dino.png);
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: red;
}